<header class="site-header">
  <nav class="nav">
    <a href="/pages/index.html" class="logo"><img class="logo-dev" src="/assets/images/logo.svg" alt="DevNotes" height="32"></a>

    <ul class="nav-links">
      <li><a href="/pages/index.html">Accueil</a></li>
      <li><a href="/pages/authors.html">Auteurs</a></li>
      <li><a href="/pages/categories.html">Catégories</a></li>
    </ul>

    <button id="themeToggle" class="theme-toggle" aria-label="Changer le thème">
    🌙
    </button>
  </nav>
</header>
